---
import Base from "../layouts/BaseLayout.astro";
import {Content as Bio} from "../components/bio.mdx";
import '@/styles/globals.css';
---

<Base title="home">
    <div class="prose dark:prose-invert">
        <Bio />
    </div>
</Base>
