---
import { getCollection } from 'astro:content';
import BlogRollEntry from "./BlogRollEntry.astro";

let blogPosts = await getCollection('blog');
---

<ul>
    { 
         blogPosts
        .sort((a, b) => new Date(b.data.date) - new Date(a.data.date))
        .map(post => (
            <li class="prose dark:prose-invert text-pretty">
                <BlogRollEntry entry={post} />
            </li>))
    }
</ul>
