---
import { getCollection } from 'astro:content';
import BlogEntry from "./BlogEntry.astro";

let blogPosts = await getCollection('blog');
blogPosts = blogPosts
            .filter(post => !post.data.isDraft)
            .sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date))
---

<div>
    <div class="prose dark:prose-invert">
        <h1>Blog</h1>
    </div>
    <div class="pt-2">
        <ul>
            { 
                 blogPosts.map(post => (
                    <li class="prose dark:prose-invert text-pretty">
                        <BlogEntry entry={post} />
                    </li>))
            }
        </ul>
    </div>
</div>
