---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="flex w-auto space-x-4">
    <a href="/" class="prose dark:prose-invert">Home</a>
    <a href="/writing" class="prose dark:prose-invert">Writing</a>
    <ThemeToggle />
</nav>
