---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="fixed top-0 flex w-auto space-x-4 bg-inherit w-screen px-8">
    <a href="/" class="prose dark:prose-invert">home</a>
    <a href="/projects" class="prose dark:prose-invert">projects</a>
    <a href="/notes" class="prose dark:prose-invert">notes</a>
    <a href="/blog" class="prose dark:prose-invert">blog</a>
    <ThemeToggle />
</nav>
