---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="fixed top-0 flex w-auto space-x-4 bg-slate-300 dark:bg-slate-500 w-screen px-8">
    <a href="/" class="prose dark:prose-invert">Home</a>
    <a href="/writing" class="prose dark:prose-invert">Writing</a>
    <ThemeToggle />
</nav>
