---
import { getCollection } from 'astro:content';
import ProjectEntry from "./ProjectEntry.astro";

let projects = await getCollection('projects');
---

<div>
    <div class="prose dark:prose-invert">
        <h1>Projects</h1>
    </div>
    <div class="pt-2">
        <ul>
            { 
                 projects.map(project => (
                    <li class="prose dark:prose-invert text-pretty max-w-none">
                        <ProjectEntry entry={project} />
                    </li>))
            }
        </ul>
    </div>
</div>
