<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Amod Kala</h1>
            </a>
            <nav>
                <a href="/">Home</a>
                <a href="/blog.html">Blog</a>
            </nav>
        </header>
        <main>
            $body$
        </main>
    </body>
</html>
