---
import Base from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
    <div class="prose dark:prose-invert max-w-3xl bg-cover">
        <slot />
    </div>
</Base> 
