---
import Base from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
    <div class="text-pretty prose dark:prose-invert max-w-3xl">
        <slot />
        <a href="/writing">Back to Writing</a>
    </div>
</Base> 
