html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.5;
}

ul.inline {
    padding-left: 0;
    list-style: none;
    li {
        display: inline; 
        padding-right: 0.3em;
    }
}

img {
    width: 100%;
    height: auto;
}

textarea {
    padding: 10px;
    resize: none;
    min-width: 100%;
    min-height: 200px;
    line-height: 1.5;
}
